.card {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  margin: 0px;
  padding: 10px;
  width: 300px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 10px #ccc;
}

.card-img-top {
    height: 145px;
    
}

.title {
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}