@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
:root {
  font-family: 'Comic Neue', cursive;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  font-family: 'Comic Neue', cursive;
  padding: 15px;
  color: white;
  left: 0 !important;
  
 }
.title {
  text-align: center;
}

.carousel-item {
  height: 600px;
  width: 100%;
  border-radius: 10px;
}

.carousel-inner {
  border-radius: 10px;
}

.project-title-desc {
  text-align: center;
}